<div class="vault-container">
  <div>{{ store.name() }}</div>

  <as-split class="vault-content" direction="vertical" unit="percent" [gutterSize]="6">
    <as-split-area>
      <as-split direction="horizontal" [gutterSize]="6">
        <as-split-area [size]="25" [minSize]="10" [maxSize]="40">
          <app-kdbx-schema></app-kdbx-schema>
        </as-split-area>
        <as-split-area>
          <div>
            <button (click)="connectToBd()">Connect to 75</button>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="15" [minSize]="5" [maxSize]="30">
      <div>FOOTER</div>
    </as-split-area>
  </as-split>
</div>
