<div class="vault-tabs-container">
  <p-tabs [value]="vaultsStore.activeIdx()">
      <p-tablist>
        @for (tab of vaultsStore.tabs(); track tab.label; let idx = $index) {
            <p-tab [value]="idx" (click)="vaultsStore.setActiveIdx(idx)">
              <span>{{ tab.label }}</span>
              <p-button
                size="small"
                icon="pi pi-times"
                [text]="true"
                [rounded]="true"
                [style]="{ zIndex: 100 }"
                (onClick)="deleteVaultTab(idx)($event)"
              />
            </p-tab>
        }
      </p-tablist>

      <p-tabpanels>
        @for (tab of vaultsStore.tabs(); track tab.label; let idx = $index) {
          <p-tabpanel [value]="idx">
            <app-vault></app-vault>
          </p-tabpanel>
        }
      </p-tabpanels>
  </p-tabs>
</div>
