.kdbx-tree-invisible {
  display: none;
}

.kdbx-tree ul,
.kdbx-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.kdbx-tree-node {
  display: block;
  line-height: 40px;
}

.kdbx-tree-node .kdbx-tree-node {
  padding-left: 20px;
}

.kdbx-tree-node__toggle {
  vertical-align: middle;
}
